* {
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
img {
  width: 200px;
  height: 200px;
}

header {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.trim {
  max-height: 75px;
  width: 75px;
  overflow: clip;
  margin: 16px 16px;
  min-width: 75px;
}
.logo {
  width: 75px;
  height: auto;
}
.left {
  display: flex;
  align-items: center;
}
.headerText h1 {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  max-width: 800px;
}
li {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 16px;
}
a {
  text-decoration: none;
  color: black;
}

#hero {
  background-color: thistle;
  display: flex;
  justify-content: center;
  padding: 16px;
  gap: 64px;
  /*i would like to make sure no spillover happens*/
}
.heroText {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}
#hero img {
  height: 300px;
  width: auto;
  border: 3px solid transparent;
  background: linear-gradient(to top, #592cd3, #f2dbfc) border-box;
}
#hero h3 {
  font-size: 32px;
}
#hero p {
  font-size: 18px;
  margin: 8px;
}

#random {
  background-color: aliceblue;
  text-align: center;
}
.random {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}
.subtitle {
  margin: 32px;
  font-weight: 900;
  font-size: 35px;
}
.character {
  max-width: 200px;
  font-size: large;
  font-weight: 600;
}
.random img {
  border: 5px solid transparent;
  background: linear-gradient(to bottom, pink 55%, magenta) border-box;
  border-radius: 30px;
}
.random img:hover {
  width: 210px;
  height: 210px;
  cursor: pointer;
  /* i dont like that the page moves */
}

#quote {
  background-color: antiquewhite;
  padding: 40px;
}
#signed {
  font-weight: bold;
}

footer {
  background-color: black;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.footerauthor {
  text-decoration: underline;
  color: white;
}

@media screen and (max-width: 600px) {
  .character {
    flex-direction: column;
    align-items: center;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .left {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .nav {
    flex-direction: column;
    /* flex-wrap: wrap; */
    /*i want the nav bar to neatly stack to the right as a column*/
    gap: 8px;
    align-items: flex-end;
    margin: 0;
  }
}

/* CSS */
button {
  align-items: center;
  background-color: #f2dbfc;
  background-position: 0 0;
  border: 2px solid #f2dbfc;
  border-radius: 11px;
  box-sizing: border-box;
  color: #592cd3;
  cursor: pointer;
  /* display: flex; */
  font-size: 1rem;
  font-weight: 600;
  line-height: 33.4929px;
  list-style: outside none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

button:active,
button:hover,
button:focus {
  outline: 0;
}

button:active {
  background-color: #f2dbfc;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #592cd3;
}

button:hover {
  background-color: #f2dbfc;
  border-color: #592cd3;
}

button:active:hover,
button:focus:hover,
button:focus {
  background-color: #f2dbfc;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #592cd3;
}
[type="email"] {
  align-items: center;
  background-color: #f2dbfc;
  border: 2px solid #592cd3;
  border-radius: 9px;
  box-sizing: border-box;
  cursor: text;
  font-size: 1rem;
  line-height: 30px;
  padding: 2px 12px;
  margin: 12px 0px;
}
