body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.waffle {
  width: 200px;
  height: auto;
}
img {
  width: 200px;
  height: 200px;
}

header {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.trim {
  max-height: 75px;
  width: 75px;
  overflow: clip;
  margin: 16px 16px;
  min-width: 75px;
}
.logo {
  width: 75px;
  height: auto;
}
.left {
  display: flex;
  align-items: center;
}
.headerText h1 {
  margin: 0;
}

.nav {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  max-width: 800px;
}
li {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 16px;
}
a {
  text-decoration: none;
  color: black;
}

#hero {
  background-color: thistle;
}

#random {
  background-color: aliceblue;
  text-align: center;
}
.random {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}
.subtitle {
  margin: 32px;
  font-weight: 900;
  font-size: 35px;
}
.character {
  max-width: 200px;
  font-size: large;
  font-weight: 600;
}
.random img {
  border: 5px solid transparent;
  background: linear-gradient(to bottom, pink 55%, magenta) border-box;
  border-radius: 30px;
}
.random img:hover {
  width: 210px;
  height: 210px;
  cursor: pointer;
  /* i dont like that the page moves */
}

#quote {
  background-color: antiquewhite;
  padding: 40px;
}
#signed {
  font-weight: bold;
}

footer {
  background-color: black;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.footerauthor {
  text-decoration: underline;
  color: white;
}

@media screen and (max-width: 600px) {
  .character {
    flex-direction: column;
    align-items: center;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .left {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .nav {
    flex-direction: column;
    /* flex-wrap: wrap; */
    /*i want the nav bar to neatly stack to the right as a column*/
    gap: 8px;
    align-items: flex-end;
    margin: 0;
  }
}
